html, body {
    background-color: rgb(172, 1, 10)
  }
    h1{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px blue,
                 0px 0px 20px blue,
                 0px 0px 40px blue,
                 0px 0px 80px blue;
  }
    h2{
    color: rgb(17, 72, 192);
    }
  u{
    color: rgb(17, 72, 192);
    }
    h4{
    color: rgb(17, 72, 192);
    }
  p{
    color: rgb(17, 72, 192);
    }
    h1{font-family: "Fira Sans", Arial, sans-serif;}
    h2{font-family: "Fira Sans", Arial, sans-serif;}
    p{font-family: "Fira Sans", Arial, sans-serif;}
    u{font-family: "Fira Sans", Arial, sans-serif;}