html, body 
  {
    background-color: rgb(0, 0, 100);
  }
  h1{
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(5, 5, 255),
                0px 0px 20px blue,
                0px 0px 40px blue,
                0px 0px 80px blue;
  }
  h2{
    color: rgb(255, 255, 255);
    }
  u{
    color: rgb(255, 255, 255);
    }
  h4{
    color: rgb(255, 255, 255);
    }
  p{
    color: rgb(255, 255, 255);
    }
    h1{font-family: "Fira Sans", Arial, sans-serif;}
    h2{font-family: "Fira Sans", Arial, sans-serif;}
    p{font-family: "Fira Sans", Arial, sans-serif;}
    u{font-family: "Fira Sans", Arial, sans-serif;}
  hr {
      border: none;
      border-top: 3px double #333;
      color: #333;
      overflow: visible;
      text-align: center;
      height: 5px;
    }
    
  hr::after {
      background: #fff;
      content: '><';
      padding: 0 4px;
      position: relative;
      top: -13px;
    }  