html, body {
    background-color: rgb(255, 43, 50)
  }
    h1{
    color: rgb(214, 214, 214)
  }
    h2{
    color: rgb(214, 214, 214)
    }
  u{
    color: rgb(214, 214, 214)
    }
    h4{
    color: rgb(214, 214, 214)
    }
  p{
    color: rgb(214, 214, 214)
    }
    h1{font-family: "Fira Sans", Arial, sans-serif;}
    h2{font-family: "Fira Sans", Arial, sans-serif;}
    p{font-family: "Fira Sans", Arial, sans-serif;}
    u{font-family: "Fira Sans", Arial, sans-serif;}